.search-form {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: darkgreen;
  box-shadow: 0 5px 5px;

  & button {
    margin-left: 5px;
    background-color: rgb(218, 156, 176);
    border-color: grey;
  }
}


.gallery {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.load-more{
  display: block;
  margin: 20px auto;
  background-color: darkgreen;
  color: white;
}

.info {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.is-hidden {
  display: none;
}